BOT_QQ_ID=
NAPCAT_WS_URL=ws://127.0.0.1:3001
NAPCAT_HTTP_URL=http://127.0.0.1:3000
NAPCAT_ACCESS_TOKEN=
BACKEND_URL=http://127.0.0.1:8000
BACKEND_API_TOKEN=
MAX_CONCURRENT_JOBS=1
JOB_TIMEOUT_SECONDS=1800
JOB_PROGRESS_NOTIFY_SECONDS=60
JMCOMIC_OPTION_PATH=./config/jmcomic-option.yml
DATA_DIR=./data
