BOT_QQ_ID=
NAPCAT_WS_URL=ws://127.0.0.1:3001
NAPCAT_HTTP_URL=http://127.0.0.1:3000
NAPCAT_ACCESS_TOKEN=
NAPCAT_HTTP_TIMEOUT_SECONDS=60
NAPCAT_UPLOAD_TIMEOUT_SECONDS=900
NAPCAT_MAX_UPLOAD_BYTES=104857600
NAPCAT_MAX_UPLOAD_FILENAME_BYTES=96
NAPCAT_UPLOAD_RETRIES=5
BOT_LANG=zh_CN
BOT_DISPLAY_NAME=SanBot
BOT_MANAGER_NAME=
BOT_MANAGER_QQ=
BOT_MANAGER_QQ_IDS=
BACKEND_URL=http://127.0.0.1:8000
BACKEND_API_TOKEN=
ENABLE_SEARCH=true
SEARCH_TIMEOUT_SECONDS=20
SEARCH_RESULT_LIMIT=5
SEARCH_CONFIRM_TIMEOUT_SECONDS=600
MAX_CONCURRENT_JOBS=1
MAX_ACTIVE_JOBS_PER_GROUP=3
MAX_ACTIVE_JOBS_PER_USER=1
JOB_TIMEOUT_SECONDS=1800
JOB_STALL_TIMEOUT_SECONDS=300
JOB_PROGRESS_CHECK_SECONDS=10
PREVIEW_TIMEOUT_SECONDS=30
JOB_PROGRESS_NOTIFY_SECONDS=300
JOB_CONFIRM_TIMEOUT_SECONDS=600
USER_COMMAND_COOLDOWN_SECONDS=10
LARGE_ALBUM_WARNING_PAGES=100
CACHE_CLEANUP_INTERVAL_SECONDS=3600
JOB_CACHE_TTL_SECONDS=259200
BOT_DOWNLOAD_CACHE_TTL_SECONDS=259200
PREVIEW_CACHE_TTL_SECONDS=86400
JM_DOWNLOAD_IMAGE_THREADS=16
JM_DOWNLOAD_PHOTO_THREADS=4
JM_DOWNLOAD_MAX_IMAGE_THREADS=16
JM_DOWNLOAD_MAX_PHOTO_THREADS=4
JMCOMIC_OPTION_PATH=./config/jmcomic-option.yml
DATA_DIR=./data
